<tr class="{CSS_ROW}">
	<td class="std">
	<!-- BEGIN checkb --><input type="checkbox" name="usr_ids[]" value="{VAL_ID}" /><!-- END checkb -->
	</td>
	<!-- BEGIN user_id -->
	<td class="std">
		<span class="small">{VAL_USER_ID}</span>
	</td>
	<!-- END user_id -->
	<!-- BEGIN tii_user_id -->
	<td class="std">
		<span class="small">{VAL_TII_USER_ID}</span>
	</td>
	<!-- END tii_user_id -->
	<!-- BEGIN name -->
	<td class="std">
		<span class="small">{VAL_NAME}</span>
	</td>
	<!-- END name -->
	<!-- BEGIN email -->
	<td class="std">
		<span class="small">{VAL_EMAIL}</span>	
	</td>
	<!-- END email -->
	<!-- BEGIN username -->
	<td class="std">
		<span class="small">{VAL_USERNAME}</span>	
	</td>
	<!-- END username -->
</tr>