<noscript>
	{NOSCRIPT_WARNING}
</noscript>
<div class="refresh_link">
	<a href="{REFRESH_LINK}"><img src="Customizing/global/plugins/Services/Repository/RepositoryObject/TurnitinAssignment/templates/images/sync-icon.png"/></a>
	<a href="{REFRESH_LINK}">{REFRESH_SUBMISSIONS}</a>
</div>
<div class="sync_link" title="{SYNC_LINK}">
	<span>{SYNCH_STUDENTS}</span>
	<img src="Customizing/global/plugins/Services/Repository/RepositoryObject/TurnitinAssignment/templates/images/sync-icon.png"/>
</div>
<div class="clear"><!-- --></div>