<noscript>
	{NOSCRIPT_WARNING}
</noscript>
<!-- BEGIN submit_paper_link -->
<div class="submit_link">
	<a href="{SUBMIT_LINK}"><img src="Customizing/global/plugins/Services/Repository/RepositoryObject/TurnitinAssignment/templates/images/submit-icon.png"/></a>
	<a href="{SUBMIT_LINK}" title="{SUBMIT_PAPER}">{SUBMIT_PAPER}</a>
</div>
<!-- END submit_paper_link -->
<div class="refresh_link">
	<a href="{REFRESH_LINK}"><img src="Customizing/global/plugins/Services/Repository/RepositoryObject/TurnitinAssignment/templates/images/refresh-icon.png"/></a>
	<a href="{REFRESH_LINK}">{REFRESH_SUBMISSIONS}</a>
</div>
<div class="sync_link" title="{SYNC_LINK}">
	<img src="Customizing/global/plugins/Services/Repository/RepositoryObject/TurnitinAssignment/templates/images/enrol-icon.png"/>
	<span>{SYNCH_STUDENTS}</span>
</div>
<div class="clear"><!-- --></div>