<div class="test_beta_notice">
	<p>Please note that this is a beta release and is not to be used for production</p>
</div>
<div id="loading_bar">
	<img src="Customizing/global/plugins/Services/Repository/RepositoryObject/TurnitinAssignment/templates/images/synching.gif" alt="" title=""/>
</div>
<div id="loading_bar_text">{JS_LOADING_TEXT}</div>
<div id="saving_bar_text">{JS_SAVING_TEXT}</div>
<div id="synching_bar_text">{JS_SYNCHING_TEXT}</div>
<div id="synching_bar_view_submissions"><a href="{JS_SYNCHING_SUBMISSIONS_LINK}" title="{JS_SYNCHING_SUBMISSIONS_LINK_TEXT}">{JS_SYNCHING_SUBMISSIONS_LINK_TEXT}</a></div>
<div id="redirect_bar_link">{JS_SUBMISSIONS_LINK}</div>